{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/#">Home</a>
            <a href="/create">Create</a>
            <a href="/api/v1/people">API</a>
            <a href="/swagger">Swagger</a>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>